body {
    background-color: lightcyan;
    font-family: sans-serif;
}

h1, h2 {
    color:white;
    border-style: solid;
    border-color: pink;
    border-width: 2px;
    background-color: pink;
}

table {
    text-align: center;
}

h3 {
    color:pink;
}

.navbar {
    
}